# This file is managed by Puppet -- <%= @name %>

###############################################################################
# These settings are ONLY used by $LS_HOME/bin/system-install to create a custom
# startup script for Logstash.  It should automagically use the init system
# (systemd, upstart, sysv, etc.) that your Linux distribution uses.
#
# After changing anything here, you need to re-run $LS_HOME/bin/system-install
# as root to push the changes to the init script.
################################################################################

<% @startup_options.sort.each do |k,v| -%>
<%= k %>=<%= v %>
<% end -%>

